{% extends '_base.html' %}


{% block content %}
<div class="container">
    <div class="row masthead">
        <div class="col-md-12">
            <header>
                <h1>Grading<img src="images/gradingrahmpng5.png"></img>Rahm</h1>
                <h2>{{ COPY.content.subhead|smarty }}</h2>
            </header>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 sidebar">
            <ul class="nav nav-stacked">
                {% for topic in COPY.topics %}
                <li class="nav-element {{topic.value}}">
                    <a href="#{{topic.value}}">
                        <strong><i class="fa {{topic.icon}} fa-2x"></i><br><span class="hidden-xs">{{topic.key}}</span></strong>
                    </a>
                </li>
                {% endfor %}
            </ul>
            
        </div>
        <div class="col-sm-10">
            
            {% for key,value in TOPICS.iteritems() %}
            

            <div class="topic" id="{{key|e}}">
                <div class="story" id="{{key|e}}_story">
                    
                    <h4 class="promise text-center">"<em>{{value.story.promise}}"</em></h4>
                    <p class="rahm text-center"><em>&#8212; Rahm Emanuel</em></p>
                    <h3><span class="label label-default">Our evaluation <i class="fa fa-file-text"></i></span></h3>
                    <h3 class="subhead lead">{{value.story.subhead}}</h3>
                    <p class="byline"><em>by {{value.story.byline}}</em></p>
                    <p class="summary">{{value.story.summary}}</p>
                </div>

                <div class="grades" id="{{key|e}}_grades">
                    <h3><span class="label label-default">Panelists' grades <i class="fa fa-check"></i></span></h3>

                    {% if value.story.conversation_pub|e == 'no' %}
                        <p>Check back to hear what grades our panel gives Rahm Emanuel on {{key}}.</p>
                        {% for row in value.grades %}
                           <div class="grader">{{ row.name }} - <a href="{{row.bio_link}}">{{ row.title }}</a></div>
                        {% endfor %}
                    {% else %}
                        
                        <p>WBEZ asked a panel of experts to give us their grade on how Rahm Emaneul performed on {{key}}. See their answers and listen back to the conversation.</p>
                        <strong>Our panel</strong>
                        {% for row in value.grades %}
                            <div class="grader">
                                {{ row.quote }} - {{ row.name }}, <a href="{{row.bio_link}}">{{ row.title }}</a>
                                <span class="pull-right">{{row.grade}}</span>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <br>
                <div class="data" id="{{key|e}}_data">
                    <h3><span class="label label-default">Data <i class="fa fa-bar-chart-o"></i></h4></span>
                    {% if value.story.chart1 %}
                        {{value.story.chart1}}
                    {% endif %}
                    {% if value.story.chart2 %}
                        {{value.story.chart2}}
                    {% endif %}
                    {% if value.story.chart3 %}
                        {{value.story.chart3}}
                    {% endif %}
                </div>

                <hr>

            </div> 
            {% endfor%}
        </div>
    </div>
</div>
{% endblock %}


{% block extra_foot %}

    <script>

    $( document ).ready(function() {
        $('.nav').affix({
            offset: { top: $('.nav').offset().top }
        });

        $( window ).resize(function() {
            sizeNav();     
        });

        var sizeNav = function(){
            $('.nav').width($('.col-sm-2').width());
        }

        $( window ).resize(function() {
            $('body').scrollspy('refresh');
        });

        sizeNav();
    });

    window.onload = function() {
        console.log('window onload')
        $('body').scrollspy('refresh');
        $("iframe").each(function() { 
            console.log('an iframe');
            $(this).load(function(){
                console.log('an iframe load');
            })
        });
    };

    </script>

{% endblock extra_foot %}