{% extends '_base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <ul data-spy="affix" data-offset-top="60" data-offset-bottom="200">
                <li>Jobs</li>
                <li>Public Safety</li>
                <li>Education</li>
                <li>Transparency</li>
            </ul>
        </div>
        <div class="col-md-10">
            <header>
                <h1>{{ COPY.content.project_name|smarty }}</h1>
                <h2>{{ COPY.content.lorem_ipsum|smarty }}</h2>
            </header>
            {% for key,value in TOPICS.iteritems() %}
                <div class="jobs">
                    <h2 class="promise">"{{value.story.promise}}"</h2>
                    <span class="subhead">{{value.story.subhead}}</span>
                    by {{value.story.byline}}
                    {{value.story.summary}}
                </div> 
            {% endfor%}

        </div>
    </div>
</div>
{% endblock %}